# Ignore build artifacts and temporary files of backend service
/backend/tmp/*
/backend/uploads/*
!/backend/uploads/arkham.gif
!/backend/uploads/bowatt.webp
!/backend/uploads/got.avif
!/backend/uploads/naruto.jpg
!/backend/uploads/skyrim.jpg
/bin/
*.out
*.log
__debug_bin*

# Ignore build artifacts and temporary files of frontend client
node_modules
dist
*.local
npm-debug.log*
.vscode/*
!.vscode/extensions.json

.DS_Store
.env
.env.*