# Ignore build artifacts and temporary files of backend service
/backend/tmp/*
uploads/*
!uploads/lake.avif
!uploads/leaves.jpg
!uploads/nature.avif
!uploads/path.jpg
!uploads/water.jpg
/bin/
*.out
*.log
__debug_bin*

# Ignore build artifacts and temporary files of frontend client
node_modules
dist
*.local
npm-debug.log*
.vscode/*
!.vscode/extensions.json

.DS_Store
.env
.env.*